
/*VoiceTone*/
a.vt
{
}
a.hz 
{
	table-layout:fixed;


	text-align:center;
	
	margin-right:0.1cm;
	margin-left:0.05cm;
}

/*XuHao*/
a.xu 
{   
	table-layout:fixed;

	text-align:right;
	margin-right:0.1cm;
	margin-left:0.05cm;
	
}
/*style="FONT-SIZE: 12pt; LINE-HEIGHT: 20px; FONT-FAMILY: simsun,mssong,mingliu,arial; BACKGROUND-COLOR: #f0f8ff" */
/*
style="overflow: scroll; 
overflow-y: scroll; 
overflow-x: hidden; 
overflow:-moz-scrollbars-vertical; "
*/
a.pinyin
 {
 height:12px;
 width:50px;
 } 
 a.tone
 {
 height:12px;
 width:50px;
 } 
 
textarea.edit
{
FONT-SIZE: 12pt; 
LINE-HEIGHT: 20px; 
FONT-FAMILY: simsun,mssong,mingliu,arial; 
BACKGROUND-COLOR: #f0f8ff;


overflow: scroll; 
overflow-y: scroll; 
overflow-x: hidden; 
overflow:-moz-scrollbars-vertical;
}

textarea.edit2
{
FONT-SIZE: 12pt; 
LINE-HEIGHT: 20px; 
FONT-FAMILY: simsun,mssong,mingliu,arial; 
BACKGROUND-COLOR: #ffff99;


overflow: scroll; 
overflow-y: scroll; 
overflow-x: hidden; 
overflow:-moz-scrollbars-vertical;
}

textarea#styled {
	width: 2400px;
	height: 480px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
}

input{
opacity:1.0;
background-color:#cccccc;
}
td.charlist{
text-align:center; 
}

div.d0{
}
div.d1{
}
div.contrast1{
   background-color:#cccccc;
   position:static;
}

div.cntrlpanel{
   position:static;
   background-color:#ffff99;
   layer-background-color:#00ff00;
   border:1px;
   visibility: visible;
   top:0px;
   left:0px;
   height:68px;
   width: 960px;
   
}
#uictrl {
   position:static;
   background-color:#1777ff;
   layer-background-color:#00ff00;
   border:1px;
   visibility: visible;
   top:0px;
   left:0px;
   z-index: 50;
}

#fixed1x {
   position:static;
   background-color:#00ff11;
   layer-background-color:#00ff00;
   border:1px;
   visibility: visible;
   top:0px;
   left:0px;
   height:68px;
   width: 960px;
   z-index: 50;
}
tr.raw0zzz {
   background-color:#ffffbb;
}
tr.raw1zzz {
   background-color:#bbffff;
}
tr.raw0 {
   background-color:#000000;
}
tr.raw1 {
   background-color:#000000;
}
/*
	//background-image: url(bg.gif);
	//background-position: bottom right;
	//background-repeat: no-repeat;
*/